{{ev-main-chart data=_data
         mainMargins=mainMargins
          mainHeight=mainHeight
           mainWidth=mainWidth
       selectedPoint=selectedPoint
         showTooltip=showTooltip
         yTickFormat=yTickFormat
      yTickFormatter=yTickFormatter
         xTickFormat=xTickFormat
          xFormatter=xFormatter
         includeZero=includeZero
              forceX=forceX
              forceY=forceY
             onClick='onClick'
         brushExtent=brushExtent}}
{{yield}}
{{#if _showDefaultTooltip}}
  {{#ev-tooltip selectedPoint=_correspondingPoint
                  mainMargins=mainMargins}}
    {{#if _correspondingPoint.seriesTitle}}
      <h5>{{_correspondingPoint.seriesTitle}}</h5>
      <hr>
    {{/if}}
    <p>
      {{ev-format-number _correspondingPoint.point.y formatter=yFormatter
                                                        format=yFormat}}
      at&nbsp;
      {{ev-format-time _correspondingPoint.point.x formatter=xFormatter
                                                      format=xFormat}}
    </p>
  {{/ev-tooltip}}
{{/if}}
{{#if showContext}}
  {{ev-context-chart data=_data
            contextHeight=contextHeight
            contextWidth=contextWidth
             xTickFormat=xTickFormat
              xFormatter=xFormatter
              brushExtent=brushExtent}}
{{/if}}
{{#if showLegend}}
  {{ev-legend data=data
           colorFn=colorFn}}
{{/if}}
