{{ev-main-chart data=_data
         mainMargins=mainMargins
          mainHeight=mainHeight
           mainWidth=mainWidth
       selectedPoint=selectedPoint
         showTooltip=showTooltip
      yTickFormatter=yTickFormatter
      xTickFormatter=xTickFormatter
         includeZero=includeZero
              forceX=forceX
              forceY=forceY
             onClick='onClick'
         brushExtent=brushExtent}}
{{yield}}
{{#if _showDefaultTooltip}}
  {{#ev-tooltip selectedPoint=_correspondingPoint
                  mainMargins=mainMargins}}
    {{#if _correspondingPoint.seriesTitle}}
      <h5>{{_correspondingPoint.seriesTitle}}</h5>
      <hr>
    {{/if}}
    <p>
      {{ev-format _correspondingPoint.point.y formatter=yTooltipFormatter}}
      at
      {{ev-format _correspondingPoint.point.x formatter=xTooltipFormatter}}
    </p>
  {{/ev-tooltip}}
{{/if}}
{{#if showContext}}
  {{ev-context-chart data=_data
            contextHeight=contextHeight
            contextWidth=contextWidth
          xTickFormatter=xTickFormatter
              brushExtent=brushExtent}}
{{/if}}
{{#if showLegend}}
  {{ev-legend data=data
           colorFn=colorFn}}
{{/if}}
